<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class = "container">
      <div class = "header"><p> Akhil Nasim Eleyadath // Trevor Ramtahal </p></div>

      <div class = "main_content">
        {{{body}}}
      </div>

      <div class = "footer"><p> Akhil Nasim Eleyadath n01626863 // Trevor Ramtahal n01658291 </p></div>
    </div>

  </body>
</html>