<form method="POST">
    <input type="text" id="searchField" name="searchField" placeholder="Building">
    <input type="text" id="searchField" name="searchField" placeholder="Long Coord">
    <input type="text" id="searchField" name="searchField" placeholder="Lat Coord">
    <input type="text" id="searchField" name="searchField" placeholder="Street">
    <input type="text" id="searchField" name="searchField" placeholder="Zipcode">

    <input type="text" id="searchField" name="searchField" placeholder="Borough">
    <input type="text" id="searchField" name="searchField" placeholder="Cuisine">

    <input type="text" id="searchField" name="searchField" placeholder="Date">
    <input type="text" id="searchField" name="searchField" placeholder="Grade">
    <input type="text" id="searchField" name="searchField" placeholder="Score">

    <input type="text" id="searchField" name="searchField" placeholder="Name">
    <input type="text" id="searchField" name="searchField" placeholder="ID">

    <button type="submit">Submit</button>
</form>

<p>Results:</p>