<form method="POST">
    <p>Get all Restaurant (specify page, perPage and optional borough)</p>

    <input type="text" id="pageField" name="pageField" placeholder="Enter Page">
    <input type="text" id="perpageField" name="perpageField" placeholder="Enter Documents Per Page">
    <input type="text" id="boroughField" name="boroughField" placeholder="Search Borough (Optional)">
    <button type="submit">Search</button>
</form>

