<h1>Homepage</h1>


<form action="/addNewRestaurant" method="get">
    <button id="navButton">Add New Restaurant</button>
</form>

<form action="/getAllRestaurants" method="get">
    <button id="navButton">Get All Restaurants</button>
</form>

<form action="/getRestaurantById" method="get">
    <button id="navButton">Get Restaurant By ID</button>
</form>

<form action="/updateRestaurantById" method="get">
    <button id="navButton">Update Restaurant By ID</button>
</form>

<form action="/deleteRestaurantById" method="get">
    <button id="navButton">Delete Restaurant By ID</button>
</form>

<form action="/restaurantGrades" method="get">
    <button id="navButton">Get Grades and Score Avg By ID</button>
</form>


<p>Following routes implemented, however auth not used due to errors</p>
<form action="/login" method="get">
    <button id="navButton">Login</button>
</form>

<form action="/register" method="get">
    <button id="navButton">Register</button>
</form>