<form method="POST">
    <input type="text" id="email" name="email" placeholder="Enter Email">
    <input type="text" id="password" name="password" placeholder="Enter Password">
    <input type="text" id="first_name" name="first_name" placeholder="Enter First Name">
    <input type="text" id="last_name" name="last_name" placeholder="Enter Last Name">
    <button type="submit">Submit</button>
</form>
