<form method="POST">
    <input type="text" id="idField" name="idField" placeholder="Enter Restaurant ID">

    <input type="text" id="buildingField" name="buildingField" placeholder="Building">
    <input type="number" id="latField" name="latField" placeholder="Long Coord" step="any">
    <input type="number" id="longField" name="longField" placeholder="Lat Coord" step="any">
    <input type="text" id="streetField" name="streetField" placeholder="Street">
    <input type="text" id="zipField" name="zipField" placeholder="Zipcode">

    <input type="text" id="boroughField" name="boroughField" placeholder="Borough">
    <input type="text" id="cuisineField" name="cuisineField" placeholder="Cuisine">

    <input type="date" id="dateField" name="dateField" placeholder="Date">
    <input type="text" id="gradeField" name="gradeField" placeholder="Grade">
    <input type="number" id="scoreField" name="scoreField" placeholder="Score">

    <input type="text" id="nameField" name="nameField" placeholder="Name">
    <input type="number" id="idField" name="idField" placeholder="ID">

    <button type="submit">Submit</button>
</form>
